/*body*/
.top_body{
  color: grey;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}

/*nav*/
.nav{
  /*border:1px solid grey;*/
  border-bottom: 1.0px solid #978d8d;
  height:30px; 
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.lilyjang{
  cursor: pointer;
  color: grey;
  font-size: 1.5rem;
}
.lilyjang a{
  text-decoration: none;
  color: grey;
  }
}
.lilyjang:hover {
  opacity: 0.8;
}
.nav_ig{
  width: 26px;
  height: 26px;
  padding: 0 25px 0 0 ;
  cursor: pointer;
}
.nav_icons >a{
  text-decoration: none;
}
.nav_menu{
  width: 26px;
  height: 20px;
  padding: 0 15px 3px 0;
}
.nav_ig:hover {
  opacity: 0.8;
}


/*form*/
.contact_top{
  text-align: center;
  margin: 30px 50px;
  font-size: 2.0rem;
}
.form__name{
  width: 400px;
}
.form_text{
  width:100%;
}
.form{
  display: flex;
  align-items: center;
  flex-direction: column;

  /* text-align: center; */
}

.button_rapper{
  width:100%;
  display: flex;
  justify-content: center;
}
.button{
  width:80px;
}

.message {
  width: 100%;
  resize: vertical;
  padding: 0px;
  /* height: 100px; */
}

.box{
  width: 100%;
  height: 32px;
  margin: 3px 0 26px 0;
  box-sizing: border-box;
  border: 1px solid #999;
}




.form_text{
  color: crimson;
}

.required{
  color: crimson;
}


/*
.label {
  width: 190px;
}

.input {
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
}



/*bottom*/
.top_bottom{
  margin: 40px;
  text-align: center;
}
.top_copyright{
  font-size: 0.68rem;
}