.top_body{
  color: grey;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}

/*nav*/
.nav{
  border-bottom: 1.0px solid #978d8d;
  height:30px; 
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.lilyjang{
  cursor: pointer;
  color: grey;
  font-size: 1.5rem;
  text-decoration: none;
}
.lilyjang a{
  text-decoration: none;
  color: grey;
  }
}
.lilyjang:hover {
  opacity: 0.8;
}
.nav_ig{
  width: 26px;
  height: 26px;
  padding: 0 25px 0 0 ;
  cursor: pointer;
}
.nav_icons >a{
  text-decoration: none;
}
.nav_menu{
  width: 26px;
  height: 20px;
  padding: 0 15px 3px 0;
}
.nav_ig:hover {
  opacity: 0.8;
}


.love_top{
  text-align: center;
  margin: 30px 50px;
  font-size: 2.0rem;
}
.love_images{
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.love_images_column{
  width:40%;
  padding:20px 10px 30px 10px;
  cursor: pointer;
}
.love_images_column > img {
  width: 100%;
}
.love_images_column:hover img{
  opacity:0.7;
}
.artworks_title{
  text-align: center;
  margin-top: 15px;
  text-transform: none;
}

.top_bottom{
  margin: 40px;
}
.top_copyright{
  font-size: 0.68rem;
}

#lightbox {
  height: 100vh;
  width: 100vw;
  top: 0px;
  background: #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}

.lightbox_main {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .lightbox_main {
    width: 95%;
  } 
}

