/*body*/
.top_body{
  color: grey;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}

/*nav*/
.nav{
  /*border:1px solid grey;*/
  border-bottom: 1.0px solid #978d8d;
  height:30px; 
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.lilyjang{
  cursor: pointer;
  color: grey;
  font-size: 1.5rem;
}
.lilyjang a{
  text-decoration: none;
  color: grey;
  }
}
.lilyjang:hover {
  opacity: 0.8;
}
.nav_ig{
  width: 26px;
  height: 26px;
  padding: 0 25px 0 0 ;
  cursor: pointer;
}
.nav_icons >a{
  text-decoration: none;
}
.nav_menu{
  width: 26px;
  height: 20px;
  padding: 0 15px 3px 0;
}
.nav_ig:hover {
  opacity: 0.8;
}


/*body*/
.profile_top{
  text-align: center;
  margin: 30px 50px;
  font-size: 2.0rem;
}

.profile_image{
  margin-top: 20px;
}

.profile_text1{
  /*border:2px solid palevioletred;*/
  margin: 30px 35px 100px 35px;
  text-transform: none;
}
.profile_text2{
  text-transform: none;
}
.profile_text3{
  text-transform: none;
}


/*bottom*/
.top_bottom{
  margin: 40px;
}
.top_copyright{
  font-size: 0.68rem;
}