/*body*/
.top_body{
  color: grey;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}

/*nav*/
.nav{
  border-bottom: 1.0px solid #978d8d;
  height:30px; 
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.lilyjang{
  cursor: pointer;
  color: grey;
  font-size: 1.5rem;
  text-decoration: none;
}
.lilyjang a{
  text-decoration: none;
  color: grey;
  }
}
.lilyjang:hover {
  opacity: 0.8;
}
.nav_ig{
  width: 26px;
  height: 26px;
  padding: 0 25px 0 0 ;
  cursor: pointer;
}
.nav_icons >a{
  text-decoration: none;
}
.nav_menu{
  width: 26px;
  height: 20px;
  padding: 0 15px 3px 0;
}
.nav_ig:hover {
  opacity: 0.8;
}
/*--nav--*/

/*menu bar*/
.container {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 1.0px;
  background-color: grey;
  margin: 9px 0;
  transition: 0.3s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}
/*--menu bar--*/

/*menu open*/
#window_menu{
  background-color: white;  
  /*border:1px solid gray;*/
  color: gray;
  width: 100%;
  max-height: 650px;
  transition: opacity .25s ease-in;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
}
.menu_text, a{
  text-decoration: none;
  color: grey;
  font-size: 1.75rem;
  margin-top: 20px; 
  line-height: 2.1;
}
.menu_artworks a{
  font-size: 1.40rem;
} 

.menu_acrylic{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top:20px; 
}
.menu_acrylic_text{
  position: absolute;
  transform: rotate(-17deg);
  font-size: 1.3rem;
  text-align: center;
  top: -10px;
}

.menu_digital{
  position: relative;
  display: flex;
  justify-content: center;
}
.menu_digital_text{
  position: absolute;
  transform: rotate(-5deg);
  font-size: 1.3rem;
  text-align: center;
  top: -10px;
}
.menu_love{
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotate(13deg);
}
.menu_love_text{
  position: absolute;
  font-size: 1.3rem;
  text-align: center;
  top: 5px;
}
.line_pink{
  margin-right: 20px;
}

.menu_profile{
  transform: rotate(8deg);
}
.menu_contact{
  transform: rotate(-10deg);
}
.closed {
  opacity: 0;
  transition: opacity .25s ease-in;
  /* display: none; */
}
/*menu open*/



/*main contents*/
.top_main{
  margin: 40px 10px;
  /*border:1px solid gray;*/
}
.top_category > a{
  text-decoration: none;
  color: grey;
}
.top_category:hover {
  opacity: 0.8;
}
.top_category {
  cursor: pointer;
  z-index: 3;
}

/*top artworks*/
.top_artworks{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.top_acrylic{
  font-size:1.9rem;
  transform: rotate(-17deg);
  margin: 10px 0;
  
}
.top_digital{
  font-size: 1.9rem;
  transform: rotate(-5deg);
}
.top_love{
  font-size: 1.9rem;
  transform: rotate(13deg);
}

@media screen and (max-width: 768px) {
  .top_acrylic {
    font-size: 1.3rem;
  }
  .top_digital {
    font-size: 1.3rem;
  }  
  .top_love {
    font-size: 1.3rem;
  }  
}


.top_other{
  display: flex;
  justify-content: space-around;
  /*margin-top: 20px;*/
  margin: 30px 200px;
}
.top_profile {
  font-size: 1.7rem;
  padding: 0 45px;
  transform: rotate(8deg);
}
.top_contact{
  font-size: 1.7rem;
  transform: rotate(-10deg);
}

@media screen and (max-width: 768px) {
  .top_other{
    justify-content: space-around;
    margin: 30px 0px;
  }

  .top_profile {
    font-size: 1.1rem;
  } 
  .top_contact {
    font-size: 1.1rem;
  }   
}



/*bottom*/
.top_bottom{
  margin: 40px;
}
.top_language{
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  padding: 30px ;
  margin: 0 15px;
  text-decoration-line: underline;
}

.top_language_type_1:hover{
  opacity: 0.8;
}
.top_language_type_1{
  cursor: pointer;
  margin:0 15px;
}

.top_language_type_2:hover{
  opacity: 0.8;
}
.top_language_type_2{
  cursor: pointer;
  margin:0 15px;
}

.top_language_type_3:hover{
  opacity: 0.8;
}
.top_language_type_3{
  cursor: pointer;
  margin:0 15px;
}



.top_copyright{
  font-size: 0.68rem;
}


.container_sp  {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

.container_pc {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100%;
}

.container_sp{
  display: none;
}

.slider-img {
  position: absolute;
  background: center;
  background: center / contain no-repeat;
  width: 110vw;
  height: 100%;
}
.slider-img_sp{
  position: absolute;
  display: none;
}
.image0 {
  display: block;
}

@media screen and (max-width: 768px) {
  .container_pc {
    display: none;
  }
  .container_sp{
    display: block;
  }
  .slider-img_sp {
    background: center;
    background: center / contain no-repeat;
    width: 100%;
    height: 100%;
  }
}
