/*body*/
.top_body{
  color: grey;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}

/*nav*/
.nav{
  border-bottom: 1.0px solid #978d8d;
  height:30px; 
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.lilyjang{
  cursor: pointer;
  color: grey;
  font-size: 1.5rem;
}
.lilyjang a{
  text-decoration: none;
}
.lilyjang:hover {
  opacity: 0.8;
}
.nav_ig{
  width: 26px;
  height: 26px;
  padding: 0 25px 0 0 ;
  cursor: pointer;
}
.nav_icons >a{
  text-decoration: none;
}
.nav_menu{
  width: 26px;
  height: 20px;
  padding: 0 15px 3px 0;
}
.nav_ig:hover {
  opacity: 0.8;
}


/*main*/
.top_main{
  margin: 40px 10px;
  /*border:1px solid gray;*/

}
.top_artworks{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.top_acrylic{
  font-size:1.9rem;
  transform: rotate(-17deg);
  margin: 10px 0;
  
}
.top_digital{
  font-size: 1.9rem;
  transform: rotate(-5deg);
}
.top_love{
  font-size: 1.9rem;
  transform: rotate(13deg);
}
.top_other{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.top_profile {
  font-size: 1.7rem;
  padding: 0 45px;
  transform: rotate(8deg);
}
.top_contact{
  font-size: 1.7rem;
  transform: rotate(-10deg);
}


.top_acrylic > a{
  text-decoration: none;
  color: grey;
}
.top_digital > a{
  text-decoration: none;
  color: grey;
}
.top_love > a{
  text-decoration: none;
  color: grey;
}
.top_profile > a{
  text-decoration: none;
  color: grey;
}
.top_contact > a{
  text-decoration: none;
  color: grey;
}


.top_acrylic:hover {
  opacity: 0.8;
}
.top_digital:hover {
  opacity: 0.8;
}
.top_love:hover {
  opacity: 0.8;
}
.top_profil:hover {
  opacity: 0.8;
}
.top_contact:hover {
  opacity: 0.8;
}

.top_acrylic {
  cursor: pointer;
}
.top_digital {
  cursor: pointer;
}
.top_love {
  cursor: pointer;
}
.top_profile {
  cursor: pointer;
}
.top_contact {
  cursor: pointer;
}



/*bottom*/
.top_bottom{
  margin: 40px;
}
.top_language{
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  padding: 30px ;
  margin: 0 15px;
  text-decoration-line: underline;
}

.top_language_type_1:hover{
  opacity: 0.8;
}
.top_language_type_1{
  cursor: pointer;
  margin:0 15px;
}

.top_language_type_2:hover{
  opacity: 0.8;
}
.top_language_type_2{
  cursor: pointer;
  margin:0 15px;
}

.top_language_type_3:hover{
  opacity: 0.8;
}
.top_language_type_3{
  cursor: pointer;
  margin:0 15px;
}



.top_copyright{
  font-size: 0.68rem;
}

.slider-img {
  height: 400px !important;
  background: center / contain no-repeat;
}